<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ChoozleAutomationv1">

    <test name="Local Chrome Test" >
        <parameter name="browser" value="firefox"></parameter>
        <packages>
            <package name="com.pagefactory.test"></package>
        </packages>
    </test>
    <test name="Local FF Test" >
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="com.pagefactory.test"></package>
        </packages>
    </test>
    <test name="Local Safari Test" >
        <parameter name="browser" value="safari"></parameter>
        <packages>
            <package name="com.pagefactory.test"></package>
        </packages>
    </test>
</suite>
